@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

.case-studies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
}

.case-study {
    border: 1px solid #ccc;
    padding: 20px;
    text-decoration: none; /* Remove default link styling */
    color: #333; /* Set text color for links */
    transition: background-color 0.3s; /* Add smooth transition for hover effect */
}

.case-study img {
    border: 2px solid black;
}

.case-study:focus {
    outline: 2px solid #007BFF; /* Add focus outline */
}

.case-study:hover {
    background-color: #f5f5f5; /* Add background color on hover */
}

.case-study h2 {
    margin-top: 0;
}

.case-study p {
    margin-bottom: 15px;
}

.case-study img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
