@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

.case-studies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
}

.case-study {
    border: 1px solid #ccc;
    padding: 20px;
    text-decoration: none; 
    color: #333; 
    transition: background-color 0.3s; 
    display: flex; /* Add flexbox */
    flex-direction: column; /* Stack content vertically */
    justify-content: space-between; /* Align content to top and bottom */
    height: 100%; /* Allow the container to take full height */
}

/* .case-study img {
    border: 2px solid black;
    align-self: center; 
    margin-bottom: auto;
}
*/

.material-icons {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
}
